:root {
    --dark: #181527;
    --midark: #515153;
    --dim: #494848;
    --color: #e5990c;
    --mid: #ADAAAA;
    --light: #C9C3C3;
    --milight: #E5E1E1;
    --white: #FAF3F3;
    --std: all 250ms ease-in-out;
    --long: all 500ms ease-in-out;
  }
  
  body {
    color: var(--light);
    height: 100vh;
    background-color: var(--mid);
  }
  /*------------------
  --  Nav Styles  --
  ------------------*/
  .topnav { 
    background-color: var(--dark);
    padding: 1em 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  .site-footer {
    background-color: var(--dark);
    padding: 1em 4em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a.logo {
    opacity: .85;
  }
  a.logo:hover {
    opacity: 5;
  }
  a.logo > img {
    width: 122px;
    height: 46px;
  }
  .topnav a {
    text-decoration: none; 
    color: var(--mid);
    cursor: pointer;
    transition: var(--std);
  }
  a:hover {
    color: var(--light);
    cursor: pointer; 
  }
  .nav-item.trigram {
    display: none; /*-- hides trigram (hamburger menu button) by default --*/
  }
  /*-- Styles for slideshow --*/
  .slideshow {
    position: relative; /*-- this allows children to be position absolutely --*/
    padding: 0;
  }
  .slide {
    padding: 0;
    padding-bottom: 0;
    margin: 0;
  }
  .slide img {
    box-shadow: 0 1px 8px rgba(0,0,0,.5);
  }
  .figcaption {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: var(--dark);
    text-shadow: -1px -1px 0px rgba(0,0,0,0.8),
                 1px -1px 0px rgba(0,0,0,0.8),
                 -1px 1px 0px rgba(0,0,0,0.8),
                 1px 1px 0px rgba(0,0,0,0.8);
  }
  .figcaption h1 {
    font-size: 10rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0;
    font-style: italic;
  }
  .figcaption p {
    font-size: 5rem;
    font-weight: 600;
    margin-top: 1.5rem;
  }
  .prev {
    cursor: pointer; /*-- changes hover cursor to the hand --*/
    padding: 5rem 3rem;
    position: absolute; /*-- positions arrows absolutely--*/
    top: 50%; /*-- positions arrows half the height of parent from top --*/
    left: 0rem;
    transform: translateY(-50%);
    width: auto; /*-- matches width of parent --*/
    font-size: 200%;
    transition: var(--std);
    border-radius: 0 2rem 2rem 0; /*-- slightly rounds inside borders --*/
    user-select: none; /*-- prevents users from selecting buttons --*/
  }
  .next {
    right: 0rem; /*-- positions next arrow hard right --*/
    border-radius: 2rem 0 0 2rem; /*-- rounds the outside borders --*/
    cursor: pointer; /*-- changes hover cursor to the hand --*/
    padding: 5rem 3rem;
    position: absolute; /*-- positions arrows absolutely--*/
    top: 50%; /*-- positions arrows half the height of parent from top --*/
    transform: translateY(-50%);
    width: auto; /*-- matches width of parent --*/
    font-size: 250%;
    transition: var(--std);
    user-select: none; /*-- prevents users from selecting buttons --*/
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.6); /*-- gives a background for contrast on hover --*/
  }
  button {
    background: none;
    border: 0;
    transition: var(--std);
  }
  button:hover {
    cursor: pointer;
  }
  .dot-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    bottom: 3.2rem;
  }
  .dot {
    background-color: rgba(60, 60, 60, 0.6);
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 1.4rem;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--std);
  }
  .dot:hover {
    background-color: rgb(56, 56, 56);
  }
  .dot:first-child {
    margin-left: 0;
  } 
  main {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin: 2rem 2vw;
  }
  aside {
    margin: 0 3vw;
    color: var(--dark);
  }
  aside h1 { 
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 0;
  }
  aside p {
    font-size: 2.45rem;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 0;
  }
  
  .card {
    background-color: var(--dark);
    border-radius: 10px;
    transition: var(--std);
    box-shadow: 0 3px 24px rgba(0,0,0,.25);
    min-width: 22rem;
    align-self: start;
  }
  .card:hover {
    box-shadow: 0 1px 8px rgba(0,0,0,.5);
  }
  .card-header {
    position: relative;
  }
  .card-header > img {
    border-radius: 7px 7px 0 0;
  }
  .card-header > button:hover {
    background-color: rgba(0,0,0,0.4);
  }
  .card-header .material-symbols-outlined {
    font-size: 8rem;
    font-variation-settings: 'wght' 300;
  }
  .card-footer {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--milight);
  }
  .card-footer > div {
    margin-bottom: 1rem;
  }
  .card-footer button {
    color: var(--light);
  }
  .card-footer button.clicked {
    color: var(--color);
  }
  .card-footer button:hover {
    color: var(--white);
  }
  .card-footer .material-symbols-outlined {
    font-size: 5rem;
    font-variation-settings: 'wght' 200;
  }
  .actions {
    display: flex;
    justify-content: space-between;
  }
  .actions > :last-child {
    margin-left: auto;
  }
  .stats, .tags {
    margin: 0 1rem;
  }
  .stats {
    color: var(--milight);
  }
  .stats > span:not(:first-of-type), .tags > span:not(:first-of-type) {
    display: inline-block;
    margin: auto .5em;
  }
  .likes {
    color:rgb(53, 124, 53);
  }
  .rating {
    padding: .2rem .4rem;
    font-size: .8em;
    border: 1px solid var(--milight);
  }
  .quality {
    padding: .05rem 1rem .1rem 1rem;
    font-size: .65em;
    border: 1px solid var(--milight);
    border-radius: 4px;
  }
  .tags {
    font-size: .9em;
  }
  .tags > span:not(:last-of-type):after {
    content: "\2022";
    color: var(--milight);
    padding-left: 2rem;
  }
  /*---------------------
  --- Card Collapse --
  ----------------------*/
  .card-footer .actions {
    margin-bottom: 0;
  }
  .card-footer .stats, .card-footer .tags {
    max-height: 0px;
    overflow-y: hidden;
    display: none;
  }
  .card-footer.opened .stats, .card-footer.opened .tags {
    display: inherit;
    max-height: 99em;
  }
  /*---------------------
  ---- Media Queries ----
  ---------------------*/
  @media screen and (max-width: 767px) { 
    .topnav {
      flex-direction: column;
      align-items: flex-start;
      position: relative;
    }
  
    .topnav a {
      display: block;
      width: 100%;
      padding: 1em;
      text-align: center;
    }
  
    .topnav a.trigram {
      display: inline-block;
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      transform: scale(2.5);
    }
  
    .topnav a:not(.trigram) {
      display: none;
    }
  
    .topnav.open {
      height: auto;
    }
  }
  @media screen and (min-width: 550px) {
    main{grid-template-columns:repeat(2, 1fr);}
  }
  @media screen and (min-width: 768px) {
    main{grid-template-columns:repeat(3, 1fr);}
    aside p {column-count: 2;}
  }
  @media screen and (min-width: 1080px) {
    main{grid-template-columns:repeat(4, 1fr);}
  }